################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp2.0
/.vs
/move2playstore-api/wwwroot
/Uol.PagSeguro/bin/Debug
/Uol.PagSeguro/obj/Debug
